
body        { font-family: 'NanumSquare', sans-serif; }
.normal     { font-weight: 400; }
.bold       { font-weight: 700;  }
.bolder     { font-weight: 800 }
.light      { font-weight: 300 }


.description {
  line-height: 1.94;
  letter-spacing: 0.45px;
  text-align: center;
  color: #371db4;
  /* border : 1px solid red; */
}
.part1{
  /* border  : 1px solid red; */
  padding-bottom : 0px;
  font-size : 18px;
}
.part2 {
  margin-top: 38px;
  /* border : 1px solid blue; */
  padding-bottom :0px;
  font-size :25px;
}
.part3{
  margin-top:38px;
  font-size : 18px;
  /* border : 1px solid blue; */
}

.description .important {
  font-family: "NanumSquare", sans-serif;
  font-weight: 700;
  font-size: 25px;
  letter-spacing: 0.63px;
}
#container {
  /* position:relative; */
  height: 1150px;
  /* border : 1px solid green; */
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-family: 'NanumSquare', sans-serif;
}
#container-real{
  height: 100%;
  width : 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 3;
  /* border:1px blue dashed; */
  margin : 0 0 0 0;
}
#pentagon1 {
  position: absolute;
  left: calc(100%/6);
  transform: rotate( -35deg );
  top: 240px;
  width: 54px;
  box-sizing: content-box;
  border-width: 50px 18px 0;
  border-style: solid;
  border-color: #9e8de3 transparent;
  z-index: 1;
}
#pentagon1:before {
  content: "";
  position: absolute;
  height: 0;
  width: 0;
  top: -85px;
  left: -18px;
  border-width: 0 45px 35px;
  border-style: solid;
  border-color: transparent transparent #9e8de3;
  z-index: 1;
}


#pentagon2 {
  position: absolute;
  right : calc(100%/6);
  transform: rotate( -35deg );
  top : 371.5px;
  width: 54px;
  box-sizing: content-box;
  border-width: 50px 18px 0;
  border-style: solid;
  border-color: #95fccd transparent;
  z-index: 1;
}
#pentagon2:before {
  content: "";
  position: absolute;
  height: 0;
  width: 0;
  top: -85px;
  left: -18px;
  border-width: 0 45px 35px;
  border-style: solid;
  border-color: transparent transparent #95fccd;
  z-index: 1;
}
#container-for-icons{
  width : 100%;
}
#bigCircle1 {
  position: absolute;
  top: 157px;
  left : calc(100%/3);
  width: 55px;
  height: 55px;
  background: #95fccd;
  border-radius: 50%;
  z-index: 1;
}
#bigCircle2 {
  position: absolute;
  top : 619px;
  left : calc(100%/4);
  width: 55px;
  height: 55px;
  background: #95fccd;
  border-radius: 50%;
  z-index: 1;
}
#smallCircle1 {
  position: absolute;
  top : 574px;
  right : calc(100%/4);
  width: 22px;
  height: 22px;
  background: #95fccd;
  border-radius: 50%;
  z-index: 1;
}
#smallCircle2 {
  position: absolute;
  top : 472px;
  left : calc(100%/3.3);
  width: 22px;
  height: 22px;
  background-color: #9e8de3;
  border-radius: 50%;
  z-index: 1;
}
#smallCircle3{
  position: absolute;
  top : 201px;
  right : calc(100%/3.5);
  width: 22px;
  height: 22px;
  background-color: #9e8de3;
  border-radius: 50%;
  z-index: 1;
}


#header{
  /* position: absolute;
  left:50%;

  width : 400px;
  height : 800px;
  float: left;
  transform: translate(-50%);
  box-sizing: border-box;
  flex:left; */
  /* border : solid 1px black; */
  flex:1;
  display :flex;
  flex-direction:column;
  align-items: center;
  justify-content: center;
}
#content {
  /* position: absolute;
  left:50%;

  width : 336px;
  height : 301px;
  transform: translate(-50%); */
  /* border : solid 1px red; */
  flex :1;
  display:flex;
  flex-direction:column;
  align-items: center;
  justify-content: center;
  font-family: 'NanumSquare', sans-serif;
}
#subscription{
  width : 453px;
  flex:1;
  /* border : solid green; */
  display :flex;
  flex-direction:column;
  align-items: center;
  justify-content: center;
}

#header .tape{
  width: 235px;
  height: 139px;
  object-fit: contain;
  flex:1;
  padding : 0;
  margin-top : 157px;
  /* border : 1px solid red; */
}
#header .title{
  width: 500px;
  height: 96.484px;
  object-fit: contain;
  flex:1;
  margin-top : 3px;
  padding : 0;
  font-family: 'NanumSquare', sans-serif;
  /* border : 1px solid black; */
  /* border : 1px solid blue; */
}

/* 구독 관련 */
#stb_subscribe * {
    margin: 0;
    padding: 0;
    font-size: 14px;
    border:0;
    color:#333;
    box-sizing: border-box;
}
#stb_subscribe {
    width: 100%;
    background-color: #fff;
    border: none #b4b4b4;
    padding: 30px;
    margin: 0;
    box-sizing: border-box;
}

#stb_subscribe .stb_header {
    width: 100%;
    overflow: hidden;
    text-align: left;
    padding-bottom: 40px;
}

#stb_subscribe .stb_header img {
    display: inline-block;
    max-width: 100%;
    height: auto;
}

#stb_subscribe .stb_form_title {
    font-size: 24px;
    padding-bottom: 30px;
    color: #333;
}

#stb_subscribe .stb_form_description {
    padding-bottom: 40px;
    font-size: 14px;
    line-height: 1.71;
    color: #333;
}

#stb_subscribe .stb_form_description a {
    text-decoration: underline;
    color: #3e81f6;
}

#stb_subscribe .stb_form_set {
    padding-bottom: 25px;
    overflow: hidden;
    position: relative;
}

#stb_subscribe .stb_form_set .stb_form_set_label {
    padding-bottom: 10px;
        color: #371db4;
        /* font-style: italic; */
        font-size: 18px;
    display: block;
        text-align: center;
        font-family: 'NanumSquare', sans-serif;

}

#stb_subscribe .stb_form_set .stb_form_set_input {
    display: block;
    width: 100%;
    padding: 9px 10px;
    border: none;
        border-radius: 4px;
        background-color: #d9ffee;
        font-color: #2cacc3;
        font-family: 'NanumSquare', sans-serif;
        border-radius: 10px;
}

#stb_subscribe .stb_form_msg_error {
    display: none;
    color: #f95a1f;
    padding: 5px 0;
    font-size: 12px;
    position: absolute;
    left: 0;
    bottom: 0;
}

#stb_subscribe .stb_form_policy  {
    position: relative;
    padding-bottom: 30px;
}

#stb_subscribe .stb_form_policy label input {
    width: 16px;
    height: 16px;
    margin: 0 3px 0 0;
}

#stb_subscribe .stb_form_policy label button {
    color: #3e81f6;
    cursor:pointer;
    background: none;
    text-decoration: underline;
}
#stb_form_done {
  text-align:center;
  font-size:13px;
  color: #ff3366;
  font-family:helvetica neue, helvetica, arial, verdana, sans-serif;
}


#stb_subscribe .stb_form_modal {position: fixed;width: 100%;height: 100%;top: 0;left: 0;z-index: 100000;}
#stb_subscribe .stb_form_modal.blind {display: none!important;}
#stb_subscribe .stb_form_modal_bg {position: absolute;width: 100%;height: 100%;background: #000;opacity: .5;z-index: 1;}
#stb_subscribe .stb_form_modal_body {background: #fff;width: 94%;max-width: 500px;position: absolute;top: 50%;left: 50%;transform: translate(-50%,-50%);z-index: 10;}
#stb_subscribe .stb_form_modal_title {font-size: 18px;padding: 30px;color:#333;}
#stb_subscribe .stb_form_modal_text {font-size: 14px;line-height: 1.71;color:#333;margin: 0 30px;max-height: 200px;overflow-y: auto;}
#stb_subscribe .stb_form_modal_btn {padding: 30px;text-align: center;}
#stb_subscribe .stb_form_modal_btn button {width: 100px;height: 40px;line-height: 40px;font-size: 14px;background: #e6e6eb;color:#333;
    cursor:pointer;}

#stb_subscribe .stb_form_set_submit {
    padding-top: 10px;
}

#stb_subscribe .stb_form_submit_button {
    width: 100%;
    height: 48px;
    background: #371db4;
    font-size: 18px;
    color:#fff;
    padding: 0 22px;
    cursor:pointer;
        /* font-style: italic; */
    font-family: 'NanumSquare', sans-serif;
    border-radius: 10px;
    box-shadow: rgba(179, 148, 242, 0.7) 8px 8px 19px 0px;
}
#stb_form_submit_button:hover {
  Background-color: yellow;
}

#stb_subscribe .stb_form_result {
    display: none;
    padding: 20px 0 0 0;
    text-align: left;
}

#stb_subscribe .stb_form_result p {
    line-height: 1.4;
}

#stb_subscribe .stb_form_result.fail p {
    color: #f95a1f;
}

#stb_subscribe .stb_form_result.success p {
    color: #3e81f6;
}




@media ( max-width: 1000px) {
  #container {
    width: auto;
  }
  #content {
    width: auto;
  }

  #header .title{
    width : 100%;
    height : auto;
    min-height : 100px;
    max-width : 500px;
    min-width : 427px;
    margin-top : 3px;
    margin : 0;
    padding : 0;
    /* border : 1px solid black; */
    /* border : 1px solid blue; */
  }
  #header .tape{
    width : 40%;
    height : auto;
    max-width: 235px;
    min-width : 170px;
    object-fit: contain;
    margin : 0;
    padding : 0;
    margin-top : 157px;
    /* border : 1px solid red; */
  }
    #pentagon1 {
      left: calc(100%/20);
    }
    #pentagon2 {
      right : calc(100%/19);
    }
    #bigCircle1 {
      left : calc(100%/4);
    }
    #bigCircle2 {
      left : calc(100%/8);
    }
    #smallCircle1 {
      right : calc(100%/6);
    }
    #smallCircle2 {
      left : calc(100%/4.5);
    }
    #smallCircle3{
      right : calc(100%/5.5);
    }

}
/* galaxy S6용  */
@media screen
  and (device-width: 360px)
  and (device-height: 640px)
  and (-webkit-device-pixel-ratio: 4) {
    #subscription{
      max-width : 330px;
    }
    #stb_subscribe{
      max-width : 330px;
    }
    .part2{
      font-size : 20px;
    }
    .part1{
      font-size : 16px;
    }
    .part3{
      font-size : 16px;
    }
    #stb_subscribe .stb_form_set .stb_form_set_label{
      font-size : 16px;
    }
    #stb_subscribe .stb_form_submit_button{
      font-size : 16px;
    }
}
/*Galaxy S7 and S8 */
@media only screen and (min-device-width : 360px) and (max-device-width : 640px){

  #subscription{
    max-width : 330px;
  }
  #stb_subscribe{
    max-width : 330px;
  }
  .part2{
    font-size : 20px;
  }
  .part1{
    font-size : 16px;
  }
  .part3{
    font-size : 16px;
  }
  #stb_subscribe .stb_form_set .stb_form_set_label{
    font-size : 16px;
  }
  #stb_subscribe .stb_form_submit_button{
    font-size : 16px;
  }
}



/* iPhone 6,7,8 plus */
@media only screen
and (min-device-width : 414px)
and (max-device-width : 736px) {
  #subscription{
    max-width : 370px;
  }
  #stb_subscribe {
      max-width: 360px;
      /* background-color: green; */
      /* border : 1px dashed green; */
      border: none #b4b4b4;
      padding: 30px;
      margin: 0;
      box-sizing: border-box;
      /* border : 1px solid green; */
  }
  #container-real{
    width : 412px;
  }
}


/* iphone 6,7,8용 */
@media only screen
and (min-device-width : 375px)
and (max-device-width : 667px) {
  #subscription{
    max-width : 370px;
  }
  #stb_subscribe {
      max-width: 360px;
      /* background-color: green; */
      /* border : 1px dashed green; */
      border: none #b4b4b4;
      padding: 30px;
      margin: 0;
      box-sizing: border-box;
      /* border : 1px solid green; */
  }
  #header .title{
    width : 100%;
    height : auto;
    min-height : 200px;
    max-width : 360px;
    min-width : 300px;
  }
  /* #header .title{
    width : 100%;
    height : auto;
    max-width : 360px;
    min-width : 300px;
  } */
  #pentagon1 {
    top : 240px;
    left: calc(100%/10);
  }
  #pentagon2 {
    top : 420px;
    right : calc(100%/20);
  }
  #bigCircle1 {
    top : 80px;
    left : calc(100%/4);
  }
  #bigCircle2 {
    top : 790px;
    left : calc(100%/20);
  }
  #smallCircle1 {
    top : 710px;
    right : calc(100%/6);
  }
  #smallCircle2 {
    /* top : 790px; */
    left : calc(100%/10);
  }
  #smallCircle3{
    right : calc(100%/5.5);
  }
  #container-real{
    max-width : 360px;
  }
  #header{
    top : 0px;
    margin-top : 0px;
  }
  #content{
    margin-top : 0px;
  }
  .part2{
    font-size : 20px;
  }
  .part1{
    font-size : 16px;
  }
  .part3{
    font-size : 16px;
  }
  #stb_subscribe .stb_form_set .stb_form_set_label{
    font-size : 16px;
  }
  #stb_subscribe .stb_form_submit_button{
    font-size : 16px;
  }

}
