
body        { font-family: 'NanumSquare', sans-serif; }
.normal     { font-weight: 400; font-size : 18px; }
.bold       { font-weight: 700; }
.bolder     { font-weight: 800 }
.light      { font-weight: 300 }

#container{
  height : 217px;
  left: 0;
  bottom: 0;
  right : 0;
  width: 100%;
  background-color: rgba(149, 252, 205, 0.26);
  padding : 0;
  margin : 0;
  float:left;
  display :flex;
  flex-direction : column;
  /* border: 3px solid  red; */
}
#container:hover{
  background-color: #371db4;
}
#container:active{
  background-color: #371db4;
}
#content{
  margin : auto;
  width : 50%;
  /* position: absolute; */
  /* top: 50%; */
  /* -ms-transform: translateY(-50%); */
  /* transform: translateY(-50%); */
  /* vertical-align: middle; */
  /* vertical-align: middle; */
  /* border: 3px solid  green; */
  /* padding: 10px; */
  margin-top : 77px;
  font-stretch: normal;
  /* font-style: normal; */
  /* line-height: 2.33; */
  /* letter-spacing: normal; */
  /* text-align: center; */
  /* color: #ffffff; */
  /* border: 3px solid  green; */
}

.title {
  /* font-family: NanumSquareR; */
  font-size: 30px;
  /* font-weight: normal; */
  /* font-stretch: normal; */
  font-style: normal;
  line-height: 1.17;
  letter-spacing: normal;
  text-align: center;
  color: #371db4;
  padding : 0;
  margin : 0;
  border :0 ;
  /* border: 3px solid green; */
}
#container:hover .title{
  text-shadow: 10px 3px 20px rgba(255, 255, 255, 0.16);
  -webkit-text-stroke: 1px #e3fef2;
  color: #ffffff;
}
#container:hover .subtitle{
  -webkit-text-stroke: 1px #707070;
    color: #ffffff;
}
#container:active .title{
  text-shadow: 10px 3px 20px rgba(255, 255, 255, 0.16);
  -webkit-text-stroke: 1px #e3fef2;
  color: #ffffff;
}
#container:active .subtitle{
  -webkit-text-stroke: 1px #707070;
    color: #ffffff;
}

.subtitle {
  padding : 0;
  padding-top : 10 px;
  margin : 0;
  /* font-family: NanumSquareR; */
  /* font-size: 18px; */
  /* font-weight: normal; */
  font-stretch: normal;
  font-style: normal;
  line-height: 1.94;
  letter-spacing: normal;
  text-align: center;
  color: #371db4;

  /* border : 3px solid purple; */
}
/* iphone 6,7,8용 + iphone 6,7,8 plus에도 적용됨 */
@media only screen
and (min-device-width : 375px)
and (max-device-width : 667px) {
  .title{
    font-size: 26px;
  }
  .subtitle{
    font-size: 16px;
  }

}
/* galaxy S6용  */
@media screen
  and (device-width: 360px)
  and (device-height: 640px)
  and (-webkit-device-pixel-ratio: 4) {
    .title{
      font-size: 26px;
    }
    .subtitle{
      font-size: 16px;
    }
}
/*Galaxy S7 and S8 */
@media only screen and (min-device-width : 360px) and (max-device-width : 640px){

  .title{
    font-size: 26px;
  }
  .subtitle{
    font-size: 16px;
  }
}
